<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <h1>Welcome To Juragan Video Rent</h1>
    <p><a style="text-decoration: none;" href="/input/login">login</a></p>
    <p><a style="text-decoration: none;" href="/input/register">register</a></p>
    <p><a style="text-decoration: none;" href="/user/admin/page">Test</a></p>
</body>
</html>