<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
</head>
<body>
    <h1>Register</h1>
    <%= error ? error : "" %>
    <p><a href="/">Home</a></p>
    <form action="/input/register" method="POST">
        <label>First Name</label><br>
        <input type="text" name="first_name"><br><br>
        <label>Last Name</label><br>
        <input type="text" name="last_name"><br><br>
        <label>Email</label><br>
        <input type="text" name="email"><br><br>
        <label>Birth Year</label><br>
        <input type="text" name="birth_year"><br><br>
        <label>Level</label><br>
        <select name="level">
            <option value="" selected>--choose--</option>
            <option value="Admin">Admin</option>
            <option value="Customer">Customer</option>
        </select><br><br>
        <label>username</label><br>
        <input type="text" name="username"><br><br>
        <label>password</label><br>
        <input type="password" name="password"><br><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>