<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adding New Video</title>
</head>
<body>
    <h1>Add New Video</h1>
    <form action="/videos/add" method="post">
        <input type="text" name="name" placeholder="Title" required><br>
        <input type="text" name="sinopsis" placeholder="Synopsis" required><br>
        <select name="genre" required>
            <option hidden>-- Genre --</option>
            <% for (let i = 0; i < genre.length ; i ++) { %>
                <option value="<%= genre[i].id %>"><%= genre[i].name %></option>
            <% } %>
        </select><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>